*{
    text-align: center;
}
table{
    padding: 5px;
    empty-cells: hide;
    width:100%;
}
tr{
    empty-cells: hide;
}
tr > th{
    background-color: #2B7ABD;
}
tr > td{
    width:10%;
}
.cellAuthType{
    width:20%;
}
.headRow{
    height: 30px;
}
.headBtn{
    border-radius: 10px;
    padding: 5px;
    padding-left: 20;
    padding-right: 20;
    background-color: white;
    color:#2B7ABD;
}

.delBtn{
    border-radius: 10px;
    padding: 5px;
    padding-left: 20;
    padding-right: 20;
    background-color: #2B7ABD;
    color:white;
}


.info{
    background-color:#f4f7f9;
    border-color: #dae2e6;
    color: #334169;
}
.headUser{
    color: white;
}
/* #formDiv{
    position: relative;

    margin: 300px;
    margin-top: 75px;
    border-width: 2px;
    border-color: #2B7ABD;
    background-color: aqua;
    padding-left: 25%;
    padding-right: 25%;
} */
label{
    padding-right: 5px;
}
form{
    float: left;
}